<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Клиенты</title>
</head>
<body>
<h1 align="center">Список клиентов</h1>
<div>
    <table border="1", align="center">
        <tr>
            <th>ФИО</th>
            <th>E-mail</th>
            <th>Номер телефона</th>
        </tr>
        <tr th:each ="client:${Clients}">
            <td th:text="${client.fio}">...</td>
            <td th:text="${client.email}">...</td>
            <td th:text="${client.phone}">...</td>
        </tr>
    </table>
    <br/><br/>
    <p align="center">
        <a href="/client">Клиенты</a> <br/><br/>
        <a href="/tour">Туры</a> <br/><br/>
        <a href="/employee">Сотрудники</a> <br/><br/>
        <a href="/request">Заявки</a> <br/><br/>
        <a href="/add">Добавить Клиента</a> <br/><br/>
    </p>
</div>
</body>
</html>