<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Сотрудники</title>
</head>
<body>
<h1 align="center">Список сотдрудников</h1>
<div>
    <table border="1", align="center">
        <tr>
            <th>ФИО</th>
            <th>Должность</th>
            <th>Контактные данные</th>
        </tr>
        <tr th:each ="employee : ${Employees}">
            <td th:utext="${employee.fio}">...</td>
            <td th:utext="${employee.position}">...</td>
            <td th:utext="${employee.contact}">...</td>
        </tr>
    </table>

    <br/><br/>
    <p align="center">
        <a href="/client">Клиенты</a> <br/><br/>
        <a href="/tour">Туры</a> <br/><br/>
        <a href="/employee">Сотрудники</a> <br/><br/>
        <a href="/request">Заявки</a> <br/><br/>
        <a href="/add">Добавить Сотрудника</a> <br/><br/>
    </p>
</div>
</body>
</html>