<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Туры</title>
</head>
<body>
<h1 align="center">Список туров</h1>
<div>
    <table border="1", align="center">
        <tr>
            <th>Название тура</th>
            <th>Стоимость</th>
            <th>Дата отправления</th>
            <th>Дата пребывания</th>
        </tr>
        <tr th:each ="tour : ${Tours}">
            <td th:utext="${tour.name}">...</td>
            <td th:utext="${tour.price}">...</td>
            <td th:utext="${tour.date_start}">...</td>
            <td th:utext="${tour.date_end}">...</td>
        </tr>
    </table>
    <br/><br/>
    <p align="center">
        <a href="/client">Клиенты</a> <br/><br/>
        <a href="/tour">Туры</a> <br/><br/>
        <a href="/employee">Сотрудники</a> <br/><br/>
        <a href="/request">Заявки</a> <br/><br/>
        <a href="/add">Добавить Тур</a> <br/><br/>
    </p>
</div>
</body>
</html>