// animattion
@for $i from 1 through 6 {
  @keyframes duck-fly-#{$i} {
    0% {
      left: -55px;
      top: random(75) + vh;
    }

    50% {
      left: 50%;
      top: random(75) + vh;
    }

    100% {
      left: 105%;
      top: random(75) + vh;
    }
  }
}

body {
  background-image: url(https://i.ytimg.com/vi/i9R8MqilMW8/maxresdefault.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;

  counter-reset: count;
}

input[type="checkbox"]:checked {
  counter-increment: count;
}

input[type="checkbox"] {
  position: absolute;
  visibility: hidden;
  //left: -9999px;
}

h1::after {
  content: counter(count);
}

img {
  width: 50px;
}

h1 {
  position: absolute;
  top: 0px;
  right: 32px;
}
