<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <style>
        .flex-row {
            display: flex;
            flex-direction: row;
            margin-left: 17%;
        }

        body {
            background-color: #aaff6d; /* Цвет фона */
        }
    </style>
</head>
<body>
<h2 align="center", th:utext="${message}">..!..</h2>

<p align="center">
    <a href="/client" th:width="15">Клиенты</a>
</p>

<p align="center">
    <a href="/order" th:width="30">Заказы</a>
</p>

<p align="center">
    <a href="/product" th:width="45">Товары</a>
</p>

<p align="center">
    <a href="/shop" th:width="60">Магазины</a>
</p>

<p align="center">
    <a href="/add" th:width="75">Добавить элемент</a>
</p>

</body>
</html>