<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Person List</title>
</head>
<body>
<h1>Person List</h1>
<a href="addPerson">Add Person</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th>Company</th>
        </tr>
        <tr th:each ="person:${Persons}">
            <td th:text="${person.name}">...</td>
            <td th:text="${person.surname}">...</td>
            <td th:text="${person.age}">...</td>
            <td th:text="${person.company}">...</td>
        </tr>
    </table>
    <br/><br/>
    <a href="/company">Company</a> <br/><br/>
    <a href="/test">Test</a> <br/><br/>
    <a href="/result">Result</a> <br/><br/>
</div>
</body>
</html>